{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="homepage-header">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6 my-auto">
                <h1 id="hp-header-h1">STILE</h1>
                <h2 id="hp-header-tagline">Add a special touch to your home.</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}