{% extends "base.html" %}
{% load static %}

{% block head_content %}
<!--- Hero image and text --->
    <div id="homepage-header">
        <div class="container">
            <div class="row">
                <div class="col-7 col-md-6">
                </div>
                <div class="col-12">
                    <div class="header-content ml-auto">
                        <div class="header-text">
                            <h1 id="hp-header-h1">STILE</h1>
                            <p id="hp-header-tagline">Add a special touch </p>
                            <p id="hp-header">to your home</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% include 'home/includes/hp-section-1.html' %}
    {% include 'home/includes/hp-section-2.html' %}
    {% include 'home/includes/hp-section-3.html' %}
{% endblock %}