@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Great+Vibes&family=Playfair+Display&display=swap');

/*------ Global ------*/

:root {
    --font-playfair-display: 'Playfair Display', sans-serif;
    --font-great-vibes: 'Great Vibes', sans-serif;
    --font-poppins: 'Poppins' sans-serif;
    --color-black: #000000;
    --color-green: #354F52;
    --color-white: #FFFFFF;
    --color-olive: #737C74;
    --color-light-black: #313639;
    --color-light-green: #E6EFD6;
    --color-brown: #8D6346;
    --border-black: 1px solid var(--color-black);
}

.container-fluid {
    padding: 0;
    margin: 0;
}


body {
    font-family: var(--font-playfair-display);
}

h1 {
    font-family: var(--font-playfair-display);
}

h2 {
    --font-great-vibes: 'Great Vibes', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

/*------ Nav Bar ------*/

.nav-link {
    text-transform: uppercase;
    color: var(--color-black);
    line-height: 1rem;
    font-size: 1.2rem;
}

.fa-shopping-cart:before {
    font-size: 1.7rem;
}

.form-control {
    border: none;
}

.border-black {
    border: var(--border-black);
} 

.nav-link:hover, .nav-link-main:hover {
    text-decoration: underline;
    color: var(--color-black);
}

#logo {
    font-size: 2.5rem;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 0;
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#logo:hover {
    text-decoration: none;
}

.nav-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#delivery-banner {
    background: var(--color-green);
    text-transform: uppercase;
}

.nav-link-main {
    text-transform: uppercase;
    color: var(--color-black);
    font-size: 1.6rem;
    padding-right: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*------ Buttons ------*/

.cta {
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 30px;
    border: var(--border-black);

}

.cta-white, .cta-black:hover {
    background-color: var(--color-green);
    color: var(--color-white);
    text-decoration: none;
}

.cta-black, .cta-white:hover {
    background-color: var(--color-brown);
    color: var(--color-white);
    text-decoration: none;
}

/*------ Homepage ------*/

#homepage-header {
    background: url('/media/homepage/homepage.jpg') no-repeat center;
    height: 800px;
    background-size: cover;
    margin-bottom: 4.5rem;
}

#hp-header-h1 {
    color: var(--color-olive);
    font-weight: 600;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 65px;
    text-align: left;
    margin-left: 5rem;
}

#hp-header-tagline {
    font-weight: 100;
    font-size: 70px;
    color: var(--color-light-black);
    font-family: var(--font-great-vibes);
}

#hp-header {
    font-weight: 100;
    font-size: 70px;
    color: var(--color-light-black);
    font-family: var(--font-great-vibes);
    line-height: 1rem;
}

.header-content {
    margin-top: 30%;
}

/*------ Homepage/section-1 ------*/

.home-decor{
    text-align: center;
    font-family: var(--font-great-vibes);
    color: var(--color-light-black);
    font-size: 3rem;
}

.new {
    text-align: center;
    font-size: 3.3rem;
    line-height: 1rem;
}

.center , .center-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
}

.homepage-cards, .homepage-cards-3 {
    height: 400px;
    margin-top: 2rem;
}

.product-card-title {
    font-size: 1.2rem;
    text-align: center;
}

.product-card-price{
    text-align: center;
    line-height: .1rem;
}

/* homepage section2 */
.hp-section-2 {
    background: url('/media/homepage/section-2.png') no-repeat center;
}

 .div-section-text-right {
    margin-top: 3rem;
    margin-bottom: 2.7rem;
} 

.div-section-img-left img {
    width: 100%;
}

.container-trends {
    background-color: var(--color-light-green);
}

.section-p {
    font-size: 1.3rem;
    margin-top: 3rem;
    margin-bottom: 2.73rem;
}

h2 {
    font-size: 2.5rem;
}

.container-trends {
    margin-top: 3rem;
    margin-bottom: 4.5rem;
}

/*------ Homepage/section-3 ------*/

.category-card-row {
    margin: 35px 0;
}

.div-category-card-img {
    height: fit-content;
    width: 165px;
    margin: 20px auto 0 auto;
}

.div-product-card-img img, .div-category-card img {
    width: 100%;
}

/*------ Footer ------*/

footer {
    background-color: var(--color-green);
    color: var(--color-white);
    min-height: 130px;
    margin-top: 3rem;
}

.footer-link {
    text-transform: uppercase;
    display: block;
    color: var(--color-white);
}

.footer-link:hover {
    text-decoration: underline;
    color: var(--color-white);
}

.footer-link-brand {
    text-transform: none;
}

footer p {
    margin-bottom: 0;
}

.footer-row {
    padding-top: 35px;
    margin: 0;
}

.mb-7 {
    margin-bottom: 7px;
}

.div-footer-some {
    width: 27px;
    display: inline-block;
    font-size: 1.7rem;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.div-footer-some:hover {
    border-bottom: 1px solid var(--color-white);
}

.fa-youtube-square:before,
.fa-pinterest-p:before,
.fa-instagram:before,
.fa-facebook-f:before {
    color: var(--color-white);
}

/*------ Products Page ------*/

.logo-font {
    letter-spacing: .1rem;
    font-size: 3rem;
    color: var(--color-olive);
    font-weight: 600;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: .6rem;
    text-transform: uppercase;
}

.row-products {
    background-color: var(--color-light-green);
}

.offset-1 {
    margin-top: 2.5rem;
}

.head-flowers {
    width: 11.5rem;
}

/*------ Products Page/Sort By Box ------*/

#sort-selector {
    height: 45px;
    width: 250px;
    border: var(--border-black);
    color: var(--color-black);
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 5%;
    outline: none;
}

.dropdown-sort-products {
    margin-top: 37px;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

/*------ Products Page/breadcrumbs------*/

.breadcrumbs {
    margin-top: 50px;
}

.breadcrumb-link, .breadcrumb-link:hover {
    color: var(--color-green);
    margin: 3px;
}

.active-breadcrumb {
    color: var(--color-black);
    margin: 3px;
}

.breadcrumbs-text {
    text-transform: uppercase;
    font-size: 1.1rem;
}

/*------ Products Details Page ------*/

#accordion {
    margin: 35px auto 50px auto;
}

.card {
    border: none;
}

.card-header {
    background-color: var(--color-white);
    border-bottom: var(--border-black);
    cursor: pointer;
}

.btn-link:hover {
    color: var(--color-black);
}

.product-details-additional {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-top: 18px;
    width: fit-content;
    display: block;
    float: left;
    color: var(--color-black);
}

.accordion-card-paragraph {
    font-size: 14px;
    line-height: 170%;
}

/*------ Empty Cart Page ------*/

.empty-cart {
    margin: auto;
    padding: 30px;
    max-width: 600px;
    text-align: center;
    overflow-wrap: break-word;
}

.breadcrumbs-text-cart {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-left: 5rem;
}