@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Great+Vibes&family=Playfair+Display&display=swap');

:root {
    --font-playfair-display: 'Playfair Display', sans-serif;
    --font-great-vibes: 'Great Vibes', sans-serif;
    --font-abhaya-libre: 'Abhaya Libre' sans-serif;
}

body {
    font-family: var(--font-playfair-display);
}

h1 {
    font-family: var(--font-playfair-display);
}

h2 {
    --font-great-vibes: 'Great Vibes', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

#homepage-header {
    background: url('/media/homepage.jpg') no-repeat center;
    height: 800px;
    background-size: cover;
    margin-bottom: 45px;
}