<nav class="navbar navbar-expand-lg mx-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link-main" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop <span class="sr-only">(current)</span></a>
                <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                    <a href="{% url 'products' %}?category=decor" class="dropdown-item">Decor</a>
                    <a href="{% url 'products' %}?category=pillows" class="dropdown-item ">Pillows</a>
                    <a href="{% url 'products' %}?category=mirrors" class="dropdown-item ">Mirrors</a>
                    <a href="{% url 'products' %}?category=rugs" class="dropdown-item ">Rugs</a>
                    <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link-main" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-main" href="{% url 'post' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-main" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </div>
</nav>