{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!--- Blog Details --->
<div class="container-fluid">
    <div class="row mt-2 py-2">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="{{ post.name }}">
        </div>
    </div>
    <div class="row py-2">
        <div class="col-sm-10 offset-sm-1 col-md-5 offset-md-2">
            <h3 class="text-dark">{{ post.title}}</h3>
        </div>
        <div class="col-sm-10 offset-sm-1 col-md-3 offset-md-0">
            <small>{{ post.date_added | date:"d M - Y - h:i | "}}<a href="{% url 'category' post.category.slug %}"
                    class="cat-title">{{ post.category.title }}</a></small>
        </div>
        {% if request.user.is_superuser %}
        <small class="ml-3">
            <a href="{% url 'edit_blog' post.slug %}">Edit</a> |
            <a class="text-danger" href="{% url 'delete_blog' post.slug %}">Delete</a>
        </small>
        {% endif %}
    </div>
    <div class="row py-1">
        <div class=" col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            {{ post.intro }}
        </div>
    </div>
    <div class="row mb-4 py-4">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            {{ post.article }}
        </div>
    </div>
    <!--- Comment Section--->
    <div class="row pt-4 pb-2">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h3 class="comment-heading">Comments</h3>
            <img src="{{ MEDIA_URL }}seperater.png" alt="no-image" class="nav-center-3">
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            {% for comment in post.comments.all %}
            <article class="article-comment">
                <strong>{{ comment.name }} | {{ comment.date_added | date:"d M - Y - h:i "}}</strong><br>
                {{ comment.article}}
            </article>
            {% endfor %}
        </div>
    </div>
    <div class="row py-2">
        <div class="ccol-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <hr class="line">
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <h4 class="add-comment">Add A Comment</h4>
        </div>
    </div>
    <div class="row pb-4">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <form method="post" action=".">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="cta-white cta-comment" value="Add comment">
            </form>
        </div>
    </div>
</div>
{% endblock %}