{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Log In" %}{% endblock %}

{% block inner_content %}
<!-- Log in header -->
    <div class="container-fluid">
        <div class="row-products">
            <div class="col">
                <h2 class="logo-font text-center">{% trans "Log In" %}</h2>
                <img src="{{ MEDIA_URL }}/media/flowers.png" alt="flowers" class="head-flowers"
                style="position: absolute;right:0;top:-85px">
            </div>
        </div>
    </div>

    <div class="container general-container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
                <div class="div-login-form">
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button class="primaryAction cta cta-black mt-2" type="submit">{% trans "Log In" %}</button>
                        <p class="mt-4">
                            <a class="button secondaryAction text-link login-p" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                        </p>
                        <p class="mt-1 login-p">{% blocktrans %}Don't have an account? <a href="{{ signup_url }}" class="text-link">Register here</a>.{% endblocktrans %}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
