{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Register" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid">
    <div class="row-products">
        <div class="col">
            <h2 class="logo-font text-center">{% trans "Create an account" %}</h2>
            <img src="{{ MEDIA_URL }}flowers.png" alt="flowers" class="head-flowers"
                style="position: absolute;right:0;top:-85px">
        </div>
    </div>
</div>

<div class="container general-container">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
            <div class="div-signup-form">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit" class="cta cta-black mt-2">{% trans "Register" %}</button>
                </form>
                <p class="mt-4 signup-p">{% blocktrans %}Already have an account? <a href="{{ login_url }}"
                        class="text-link">Log in here</a>.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}