{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid">
    <div class="row-products">
        <div class="col">
            <h2 class="logo-font text-center">{% trans "Verify Your E-mail" %}</h2>
            <img src="{{ MEDIA_URL }}flowers.png" alt="flowers" class="head-flowers"
                style="position: absolute;right:0;top:-85px">
        </div>
    </div>
</div>

    <div class="container general-container">
        <div class="row">
            <div class="col">
                <p>{% blocktrans %}We have sent an e-mail to you for verification. 
                    Follow the link provided to finalize the signup process. Please contact us at 
                    <a href="mailto:stile.homeware@gmail.com">stile.homeware@gmail.com</a>
                    if you do not receive it within a few minutes.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
