{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
<div class="container-fluid">
    <div class="row-products">
        <div class="col">
            <h2 class="logo-font text-center">{% trans "Verify Your E-mail Address" %}</h2>
            <img src="/media/flowers.png" alt="flowers" class="head-flowers"
                style="position: absolute;right:0;top:-85px">
        </div>
    </div>
</div>

<div class="container general-container">
    <div class="row">
        <div class="col">
            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This part of the site requires us to verify that
                you are who you claim to be. For this purpose, we require that you
                verify ownership of your e-mail address. {% endblocktrans %}</p>

            <p>{% blocktrans %}We have sent an e-mail to you for
                verification. Please click on the link inside this e-mail. Please
                contact us at <a href="mailto:stile.homeware@gmail.com">stile.homeware@gmail.com</a>
                if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    </div>
</div>
{% endblock %}