{% extends "base.html" %}
{% load static %}

<div class="container-fluid">
    <div class="row-products">
        <div class="col text-center pb-1">
            <h2 class="logo-font">Error 403</h2>
            <img src="{{ MEDIA_URL }}flowers.png" alt="flowers" class="head-flowers"
                style="position: absolute;right:0;top:-85px">
        </div>
    </div>

    <div class="container general-container">
        <div class="row">
            <div class="col">
                <p>
                    Oh, no! Looks like our server has just encountered an internal error... 
                    No worries, we have a lot of amazing products and other content on our website that you can check
                    out.
                    What would you like to do next?
                </p>
                <div class="error-page-ctas mt-4">
                    <a class="cta cta-black mr-2 mb-2 d-inline-block" href="{% url 'products' %}">Shop more</a>
                    <a class="cta cta-white d-inline-block" href="{% url 'home' %}">Back to homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}