{% extends "base.html" %}
{% load static %}


{% block content %}
<!--- Header --->
<div class="container-fluid">
    <div class="row-products">
        <div class="col text-center mt-3 mb-3 pb-1">
            <h2 class="logo-font">Contact Us</h2>
            <img src="/media/flowers.png" alt="flowers" class="head-flowers"
                style="position: absolute;right:0;top:-85px">
        </div>
    </div>
    <!--- Google Maps --->
    <div class="container">
        <div class="row align-items-center my-4">
            <div class="col-12 col-md-6">
                <div id="map"></div>
            </div>
            <!--- Store info --->
            <div class="col-12 col-md-6 col-lg-6">
                <div class="about-details-container mb-5 mt-md-5">
                    <h2 class="store-heading">Our Store</h2>
                    <div>
                        <img src="/media/seperater.png" alt="no-image" class="nav-center-2">
                    </div>
                    <p class="contact-text">123 Stephens Green<br>Dublin<br>Ireland <br> 0874507780</p>
                    <p class="times">Monday - Friday: 8am - 6pm <br> Saturday - Sunday: 10am - 7pm</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="contact-heading mt-5">Get In Touch</h2>
        <img src="/media/seperater.png" alt="no-image" class="center-2 mb-3">
    </div>
    <!--- Form/taken from W3 schools https://www.w3schools.com/howto/howto_css_contact_form.asp --->
    <div class="container">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
        <form action="action_page.php">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            <input type="submit" value="Submit">
        </form>
        </div>
    </div>
</div>
<script>
    var mymap = L.map('map').setView([53.3390102, -6.2641539], 13);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiNXBlbmNlc3BlbmNlIiwiYSI6ImNrbWk4c3R1MDBld3QydXF2czR5NmNqNTIifQ.8G4oo2NMwbYjWvajipthaA'
}).addTo(mymap);
    var marker = L.marker([53.3390102,-6.2641539]).addTo(mymap);
    marker.bindPopup("<b>We are here!</b><br>Looking forward to meeting you").openPopup();
</script>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}