{% block content %}
<div class="container-fluid div-section">
    <div class="container hp-section-1-heading">
        <h2 class="home-decor">Home Decor</h2>
        <h3 class="new">New Arrivals</h3>
        <img src="media/seperater.png" alt="no-image" class="center">
    </div>
    <div class="row hp-section-1">
        <div class="container">
            <div class="row product-card-row">
                <div class="col-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="media/homepage/section-1.jpg" alt="decor" class="homepage-cards">
                        </div>
                        <p class="product-card-title">Table Decor</p>
                        <p class="product-card-price">€12</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="media/homepage/section-11.jpg" alt="candle" class="homepage-cards">
                        </div>
                        <p class="product-card-title">Candle holder</p>
                        <p class="product-card-price">€8</p>
                        <div class="d-flex justify-content-center">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="media/homepage/section-111.jpg" alt="vase" class="homepage-cards">
                        </div>
                        <p class="product-card-title">Bronze Vase</p>
                        <p class="product-card-price">€10</p>
                        <div class="d-flex justify-content-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}