<section>
    <div class="container-fluid container-fluid-box">
        <div class="container-trends">
            <div class="row">
                <div class="col-6 no-padding">
                    <div class="div-section-img-left">
                        <img src="media/homepage/section-2.jpg" alt="" style="position: absolute;left:0;top:0">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-12 no-padding">
                </div>
                <div class="col-6">
                    <div class="div-section-text-right">
                        <h2 class="h2-style section-title">Hand picked items</h2>
                        <p class="section-p">
                            We have all the latest trends for Spring/Summer 2021. If your looking for inspiration this
                            year
                            you have
                            come to the right place. We have boutique pieces you wont find anywhere else.
                        </p>
                        <div class="section-cta">
                            <a href="#" class="cta cta-white ml-auto">Shop here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>