{% block content %}

<section>
<!--- Header --->
<div class="container-fluid div-section">
    <div class="container hp-section-3-heading mt-5">
        <h2 class="home-decor">Home Decor</h2>
        <h3 class="new">Inspiration</h3>
        <img src="{{ MEDIA_URL }}seperater.png" alt="no-image" class="center-3">
    </div>
    <div class="row hp-section-3">
        <div class="container">
            <!--- Inspirations photos --->
            <div class="row product-card-row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="{{ MEDIA_URL }}homepage/inspo-1.jpg" alt="decor" class="homepage-cards-3">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="{{ MEDIA_URL }}homepage/inspo.jpg" alt="chair" class="homepage-cards-3">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="div-product-card">
                        <div class="div-product-card-img">
                            <img src="{{ MEDIA_URL }}homepage/inspo-3.jpg" alt="feather" class="homepage-cards-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}