<!--- Image in container --->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 half-left ">
            <img src="{{ MEDIA_URL }}homepage/section-2.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 half-right">
            <div class="container">
                <div class="row">
                    <!--- paragraph --->
                    <div class="col-sm-12">
                        <h2 class="hand-picked">Hand picked items</h2>
                        <p class="section-2-p">We have all the latest trends for Spring/Summer 2021. If your looking for inspiration this
                            year
                            you have
                            come to the right place. We have boutique pieces you wont find anywhere else.</p>
                        <div class="section-cta">
                            <a href="{% url 'products' %}" class="cta cta-white ml-auto">Shop here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>